@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .fh1 {
    font-weight: 700;
    font-size: 32px;
  }

  .f12Regular {
    font-weight: 400;
    font-size: 12px;
  }

  .f12Bold {
    font-weight: 700;
    font-size: 12px;
  }

  .f14Regular {
    font-weight: 400;
    font-size: 14px;
  }
  .f14Bold {
    font-weight: 600;
    font-size: 14px;
  }

  .f16Bold {
    font-weight: 700;
    font-size: 16px;
  }

  .f16Regular {
    font-weight: 400;
    font-size: 16px;
  }
  .f18Bold {
    font-weight: 600;
    font-size: 18px;
  }
  .f20Bold {
    font-weight: 600;
    font-size: 20px;
  }
  .f22Bold {
    font-weight: 600;
    font-size: 22px;
  }

  .f24Regular {
    font-weight: 400;
    font-size: 24px;
  }

  .f24Bold {
    font-weight: 700;
    font-size: 24px;
  }
}
